<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="/media/css/base.css">
    
</head> 

{% block style %}{% endblock %}

<body>
    <div class="navbar">
        <ul>
          <li><a href="/intro">Intro</a></li>
          <li><a href="/professional">Professional</a></li>
          <li><a href="/projects">Projects</a></li>

          <li style="float:right;"><a class="active" id="other" href="{{details.other}}" >  HR    </a></li>
          <li style="float:right;"><a class="active" id="linkdin" href="{{details.linkdin}}" >LinkdIn</a></li>
          <li style="float:right;"><a class="active" id="github" href="{{details.github}}"> Github </a></li>
        </ul>
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>