{% extends 'base.html' %}

{% block title %} Introduction {% endblock %}

{% block style %}
    <style>
        .name{
            color: var(--green);
            font-size: x-large;
            font-weight: 500;

            /* float: right; */
            margin-top: 30px;
            margin-right: 50px;

            /* border: 2px solid black; */
        }
        .name > span{
            font-size:medium;
            color : #6272a4;
        }
        
        .left{
            float:left;
            width: 35%;
            margin-left: 5%;
            margin-top: 5%;
        }

        img{
            /* height: 100%; */
            width: 80%;
            margin-left: 10%;
            border-radius: 50% 50% 30% 30%;
            transition: 2s;
        }
        img:hover{
            /* height: 100%; */
            margin-left: 5%;
            width: 90%;
            border-radius: 50% 50% 30% 30%;

            transition: 2s;
            /* transform: scale(1.1,1.1); */
        }
        .right {
            width: 50%;
            padding-top: 60px;
            padding-right: 30px;
            float : right;
        }
        .contacts{
            margin-top: 20px;
            color : rgb(255, 184, 108);
        }

        .address{
            margin-top: 50px;
            color : rgb(255, 184, 108);
        }

        .about{
            margin-top: 50px;
            color : var(--white);
        }

        .resume{
            margin-top: 30px;
            color: var(--white);
        }
        .resume>a{
            text-decoration: none;
            color: var(--yellow);
            transition: 500ms;
        }
        .resume>a:hover{
            color: var(--red);
        }

    </style>
{% endblock %}

{% block content %}
<div class="left">
    <img src="/media/{{details.dp}}" alt="">
    <div class="name">
        {{details.name}} <br><span>{{details.position}}</span>
    </div>

    <div class="contacts">
        <span>{{details.phone}}</span><br>
        <span>{{details.email}}</span>
    </div>

    <div class="resume">
        Go check out the other pages, <br> or just see my <a href="/media/resume.pdf" target="_blank" >RESUME</a>
    </div>
</div>


<div class="right">

    <div class="about">
        {{details.about|linebreaks}}
    </div>

    <div class="address">
        <span>{{details.address|linebreaks}}</span><br>
        <span>{{details.zipcode}}</span>
    </div>
</div>

{% endblock %}