{% extends 'base.html' %}

{% block title %} Professional {% endblock %}

{% block style %}
<style>
    a{
        text-decoration: none;
    }
    a:visited{
        color: white;
    }
    .edu{
        color:var(--white);
        margin: 30px;
    }
    .edu-item,.exp-item{
        padding: 10px;
        margin: 10px;
        border:5px solid var(--gray);
        border-radius: 5px;
    }
    .degree{
        color: var(--orange);
        font-size: larger;
    }
    .degree>span{
        color: var(--yellow);
        font-size: medium;
    }
    .time {
        float:right;
        font-size:medium;
        color: var(--comment);
    }

    .exp{
        color:var(--white);
        margin: 30px;
    }
    .job{
        color : var(--orange);
        font-size:x-large;
    }
    .employer{
        font-size: large;
        color: var(--white);
    }
    .desc{
        margin-top: 10px;
        color: var(--yellow);
        font-size: medium;
    }

    .skills{
        color :var(--white);
        margin: 30px; 
    }
    .skills>div{
        padding: 20px;
        margin: 1%;
        /* border:5px solid var(--gray); */
        border-radius: 5px; 
        float:left;
        width: 18%;
        min-width: 160px;
        height: 180px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        transition: 500ms;
    }

    .skills>div>h3{
        color: var(--green);
    }

    .skills>div:hover{
        transform: scale(1.2);
        /* margin: 0.5%; */
    }
    li{
        transition: 200ms;
    }
    li:hover{
        color:var(--purple);
    }
</style>
{% endblock %}

{% block content %}

    <div class="edu">
        <h1>Education</h1>
        {% for education in educations %}
            
            <div class="edu-item">
                <p class="degree">{{education.degree}} <span class="score">{{education.score}}</span></p>
                <p class="time">{{education.start|date:"M Y"}} - {{education.end|date:"M Y"}}</p>
                <p class="institute">{{education.institute}}</p>
            </div>
            
        {% endfor %}
    </div>

    <div class="exp">
        <h1>Experience</h1>
        {% for experience in experiences %}
        {% if experience.employer != "myself" %}
        <a href="/media/{{experience.proof}}" target="_blank">
            <div class="exp-item">
                <p class="time">{{experience.start|date:"M Y"}} - 
                    {% if experience.employed %}
                    Present
                    {% else %}
                    {{experience.end|date:"M Y"}}
                    {% endif %}
                </p>
                <p class="job">{{experience.job_title}}</p>
                
                <p class="employer">{{experience.employer}} <span class="location"> - {{experience.location}}</span></p>
                

                <div class="desc">{{experience.desc|linebreaks}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </a>

    <div class="skills">
        <h1>Skills</h1>
        <div class="lang">
            <h3>Languages</h3>
            <ul>
            {% for skill in skills %}
                {% if skill.type_of == "Language" %}
                    <li>{{skill.name}}</li> <br>
                {% endif %}
            {% endfor %}
            </ul>
        </div> 

        <div class="frame">
            <h3>Framework</h3>
            <ul>
            {% for skill in skills %}
                {% if skill.type_of == "Framework" %}
                    <li>{{skill.name}}</li><br>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        
        <div class="tool">
            <h3>Tools</h3>
            <ul>
            {% for skill in skills %}
                {% if skill.type_of == "Tools" %}
                    <li>{{skill.name}}</li><br>
                {% endif %}    
            {% endfor %}
            </ul>
        </div>
        
        <div class="db">
            <h3>Data Base</h3>
            <ul>
            {% for skill in skills %}
                {% if skill.type_of == "DataBase" %}
                    <li>{{skill.name}}</li><br>
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div class="soft">
            <h3>Soft Skills</h3>
            <ul>
            {% for skill in skills %}
                {% if skill.type_of == "Soft Skills" %}
                    <li>{{skill.name}}</li><br>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>  

{% endblock %}