{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block style %}
<style>
    .project,
    .certi,
    .achieve {
        color: white;
        margin: 30px;
    }

    .project-item {
        padding: 10px;
        margin: 10px;
        border: 5px solid var(--gray);
        border-radius: 5px;
    }

    .time,
    .skills {
        float: right;
    }

    .time {
        color: var(--comment);
    }

    .skills {
        width: 100%;
    }

    .skills>span {
        float: right;
        background-color: var(--blue);
        color: var(--black);
        margin-left: 5px;
        padding: 3px;
        border-radius: 15px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: white;
    }

    .project-item>a {
        color: var(--purple);
    }

    .certi {
        float: left;
        width: 95%;
    }

    .certi-item>h2 {
        color: var(--pink);
    }

    .certi-item {
        float: left;
        margin: 10px;

        border-radius: 10px;
        width: 20%;
        min-width: 300px;
        height: 400px;
        overflow-y: scroll;
        transition: 400ms;

        background-color: var(--gray);
    }

    .certi-item>h2 {
        text-align: center;
    }

    .certi-item>span {
        color: var(--comment);
        font-weight: bold;
        float: right;
        font-size: medium;
    }

    .certi-item>p,
    span {
        margin: 5px;
    }


    img {
        width: 100%;
    }

    .achieve>span::before {
        content: "~$\00A0";
        color: var(--green);
    }



    .employer {
        color: var(--comment);
    }

    .desc{
        color: var(--white);
    }

</style>
{% endblock %}

{% block content %}

<div class="project">
    <h1>Projects</h1>
    {% for project in projects %}
    
        <div class="project-item">

            <p class="time">{{project.completed}}</p>
            <a target="_blank" href="{{project.link}}">
                <h2 class="name">{{project.name}}</h2>

            <p class="employer">
                {% if project.on_job.employer == "myself" %}
                Freelance
                {% else %}
                for {{project.on_job.employer}}
                {% endif %}</p>
            <br>
            <p class="desc">{{project.desc}}</p>
            <p class="skills">
                {% for skill in project.skills.all %}
                <span>{{skill}}</span>
                {% endfor %}
            </p>
            <br>
            <br>

        </div>
    </a>
    {% endfor %}
</div>

<div class="certi">
    <h1>Certificates</h1>
    {% for certificate in certificates %}

    <div class="certi-item">
        <a target="_blank" href="{{certificate.link}}"><img src="/media/{{certificate.cover}}" alt=""></a>

        <h2 class="name">{{certificate.name}}</h2>
        <span>by {{certificate.org}}</span>

        <p class="desc">{{certificate.desc}}</p>
    </div>


    {% endfor %}
</div>

<div class="achieve">
    <h1>Achievements</h1>

    {% for achievement in achievements %}
    <span>{{achievement.data}}</span><br>
    {% endfor %}
</div>

{% endblock %}